.container-main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #6966ce;

    .container-form {
        top: 200px;
        position: fixed;
        color:#666666;
        padding:20px;
        display: grid;
        justify-items: center;
        width: 20%;

        .text-title {
            font-weight: bold;
            margin: 0 0 8px 0;
            color:#ffffff;
        }
    
        .button {
            width: 100%;
            box-shadow:inset 0px 1px 0px 0px #7a8eb9;
            background-color:#637aad;
            border:1px solid #314179;
            display:block;
            cursor:pointer;
            color:#ffffff;
            font-family:Arial;
            font-size:13px;
            font-weight:bold;
            padding:9px 12px;
            margin: 8px 0 8px 0;
            text-decoration:none;
        }
        .button:hover {
            background-color:#5972a7;
        }
        .button:active {
            position:relative;
            top:1px;
        }
    }
}